  form {
    color: #009879;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  #selectedFiles img {
    max-width: 125px;
    max-height: 125px;
    float: left;
    margin-bottom: 10px;
  }
  
  .styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 100px;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  /* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  } */
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .deleteIcon {
    color: red;
    font-size: 1rem;
    cursor: pointer;
  }

  .uploadHeader {
      margin-bottom: 20px;
  }